/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* 1408px */
@media (max-width: 88em) {
  .section-hero,
  .section-testimonials,
  .section-play {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

/* 1216px */
@media (max-width: 76em) {
  html {
    font-size: 56.25%;
  }
  .card:nth-child(odd) .title::before {
    transform: translateX(-3.5rem);
  }
  .card:nth-child(even) .title::before {
    transform: translateX(3.5rem);
  }
}

/* 928px */
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 2fr 1fr;
  }
  .card:nth-child(odd) .title::before {
    transform: translateX(-3rem);
  }
  .card:nth-child(even) .title::before {
    transform: translateX(3rem);
  }
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }
  .testimonial-card {
    max-width: 80%;
  }
  .section-rules {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

/* 752px */
@media (max-width: 47em) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-img-box {
    grid-row: 1;
  }
  .hero-img {
    height: 22rem;
    width: 22rem;
  }
}

/* 560px */
@media (max-width: 35em) {
  .btn-mobile-nav {
    display: block;
    z-index: 7;
  }
  .mobile-nav-menu {
    display: block;
  }
  .main-nav {
    background-color: #003049;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 300ms;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .mobile-nav-menu {
    display: none;
  }
  .nav-open .mobile-nav-close {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    font-size: 4.4rem;
  }
  .main-nav-list li:last-child {
    margin-top: 1rem;
  }
  .hero-img {
    height: 18rem;
  }
  .timeline {
    max-width: 45rem;
  }
  .info {
    padding: 3.2rem;
  }
  .card:nth-child(odd) .title::before {
    transform: translateX(-1.3rem);
  }
  .card:nth-child(even) .title::before {
    transform: translateX(1.3rem);
  }
  .player-icon {
    width: 9.6rem;
  }
  .btn-rock,
  .btn-scissors,
  .btn-paper {
    width: 9.6rem;
  }
}

/* 464px */
@media (max-width: 29em) {
  .hero-img {
    height: 14rem;
  }
  .rules-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }
  .rule-img-box {
    width: 16rem;
    height: 16rem;
    transform: translateY(-3rem);
  }
  .display-container,
  .button-container {
    max-width: 90%;
    grid-template-columns: 1fr 15rem 1fr;
  }
}

/* 352px */
@media (max-width: 22em) {
  .hero-img {
    height: 10rem;
  }
  .hero-text-box {
    text-align: center;
  }
  .timeline {
    max-width: 36rem;
  }
  .info {
    padding: 2.4rem;
  }
  .card:nth-child(odd) .title::before {
    transform: translateX(-0.45rem);
  }
  .card:nth-child(even) .title::before {
    transform: translateX(0.45rem);
  }
  .display-container,
  .button-container {
    grid-template-columns: 5fr 8fr 5fr;
    padding: 1rem;
  }
  .player-icon {
    width: 7.2rem;
  }
  .p1-score,
  .p2-score {
    font-size: 7.2rem;
  }
  .btn-rock,
  .btn-scissors,
  .btn-paper {
    width: 7.2rem;
  }
  .archive {
    font-size: 1.4rem;
    min-height: 20rem;
  }
}
