/* TYPOGRAPHY */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Font Weights */

/* Line Heights */

/* Letter Spacing */

/* COLORS */
/* 
Main: #D62828
tints: 
shades:

True Gray: #555

Grey: #003049
tints:
shades:

Accent: #F77F00
tints:
shades:

Accent: #FCBF49
tints:
shades:

Accent: #EAE2B7
tints:
shades:
*/

/* BOX SHADOWS */

/* BORDER RADIUSES */

/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-size: 1.8rem;
}

/* HEADER STYLING: LOGO, NAVIGATION, NAV BUTTON */
.header {
  background-color: #003049;
  padding: 0 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  height: 8rem;
}
.main-nav {
}
.main-nav-list {
  list-style: none;

  display: flex;
  gap: 1.2rem;
}
.main-nav-link {
  color: #eae2b7;
  text-decoration: none;
}
.btn-mobile-nav {
  display: none;
}

/* OTHER CONTENT */
.section-hero {
  display: none;
}
.section-rules {
  display: none;
}
.section-play {
  display: none;
}
.footer {
  display: none;
}
