* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: dimgrey;
    color: goldenrod;
    text-align: center;
    padding: 12px;
}

main {
    background-color: grey;
    text-align: center;
    flex: 1;
}

header {
    font-size: 40px;
}

footer {
    margin-top:auto;
}